{% extends "base.html" %}


{% block title %}人流分析平台{% endblock %}


{% block head %}
<script src="../media/plugins/heatmap/heatmap.min.js"></script>

<style>
    .content-body {
        min-height: 900px !important;
    }

    .content-body .container-fluid {
        padding: 0px 15px;
    }

    .count_label {
        font-weight: 500;
        font-size: 20px;
        font-weight: 500;
    }

    .heat-map-tooltip {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        color: white;
        font-size: 14px;
        padding: 5px;
        line-height: 18px;
    }

    .legend-area {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        background: white;
        outline: 3px solid black;
        line-height: 1em;
    }

    .table-image td,
    .table-image th {
        vertical-align: middle;
    }

    #HotAreaTable td,
    #HotAreaTable th {
        padding: 0rem 0.75rem;
        vertical-align: middle;
        border-top: 0px solid #dee2e6;
    }

    .badge {
        padding: 0.18em 0.5em;
    }

    .card {
        box-shadow: 6px 11px 41px -28px #2581BA;
    }

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-indicators li {
        display: none;
    }
</style>
{% endblock %}


{% block breadcrumb1 %}Home{% endblock %}
{% block breadcrumb2 %}Overview{% endblock %}


{% block content %}
{% verbatim %}
<div class="container-fluid" style="padding:0px 15px;">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="card">
                <div class="card-body" id="heatmap">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <h2 class="card-title" style="font-size:25px;">人流熱區概況</h2>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <p class="text-right text-muted" style="font-size: 16px;">更新時間：{{heatMapData.insert_time}}
                            </p>
                        </div>
                    </div>
                    <div id="layout" width="100%" style="position: relative;">
                        <img id="map" v-bind:src="'../media/images/anne_layout.png?v=' + sys_timestamp" width="95%" alt="平面圖">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="col pl-1 pr-0">
                    <div class="card" id="PeopleCountCard"
                        style="margin-bottom: 15px !important;background-color: #2581BA;">
                        <div class="card-body py-4 pb-2">
                            <h3 class="card-title text-white" style="font-size:25px;">當前天氣</h3>
                            <div class="text-center" id="weather_error" style="display: none;">
                                <h1><i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i></h1>
                                <h3 class="text-white">網路連線異常, 請稍後再試</h3>
                            </div>
                            <div class="d-inline-block">
                                <h1 id="temp" class="text-white font-weight-bold mt-3" style="font-size: 50px;"></h1>
                            </div>
                            <span class="float-right display-4">
                                <h3 id="wdsd" class="text-white my-2"></h3>
                                <h3 id="humd" class="text-white my-2"></h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pl-1 pr-0">
                    <div class="card" id="TodayCountCard"
                        style="margin-bottom: 15px !important;background-color: #2581BA;">
                        <div class="card-body pt-4 pb-2">
                            <h3 class="card-title text-white" style="font-size:25px;">今日累計人次</h3>
                            <div class="d-inline-block">
                                <h1 class="text-white font-weight-bold my-2" id="TodayCount" style="font-size: 70px;">
                                    {{ heatMapData.main_area_acc_count }}
                                    <span style="font-size: 20px;">人</span>
                                </h1>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"
                                    style="color: #eeeae8;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pl-1 pr-0">
                    <div class="card" id="PeopleCountCard1"
                        style="margin-bottom: 15px !important;background-color: #2581BA;">
                        <div class="card-body pt-4 pb-2">
                            <h4 style="color: aqua;">{{ MainAreaData[0].area_name }}</h4>
                            <h3 class="card-title text-white" style="font-size:25px;">當前人數</h3>
                            <h2 class="mt-2">
                                <span class="badge" style="background-color: white;color: #2581BA; font-weight: 400;">{{
                                    main_all_status }}</span>
                            </h2>
                            <div class="d-inline-block">
                                <h1 class="text-white font-weight-bold my-1" id="PeopleCount1" style="font-size: 70px;">
                                    {{ heatMapData.main_area_count }}
                                    <span style="font-size: 20px;">人</span>
                                </h1>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"
                                    style="color: #eeeae8;"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col pl-1 pr-0">
                    <div class="card text-light" id="TodayCountCard2"
                        style="margin-bottom: 15px !important; background-color: #2581BA;">
                        <div class="card-body pt-4 pb-2">
                            <div class="bootstrap-carousel">
                                <div class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" id="sub_count_1">
                                            <h4 style="color: aqua;">子場館 1 - {{ MainAreaData[1].area_name }}</h4>
                                            <h3 class="card-title text-white" style="font-size:25px;">當前人數</h3>
                                            <h2 class="mt-2">
                                                <span class="badge"
                                                    style="background-color: white;color: #2581BA; font-weight: 400;">{{
                                                    sub_all_status }}</span>
                                            </h2>
                                            <div class="d-inline-block">
                                                <h1 class="text-white font-weight-bold my-1" id="PeopleCount2"
                                                    style="font-size: 70px;">
                                                    {{ heatMapData.sub_area_count1 }}
                                                    <span style="font-size: 20px;">人</span>
                                                </h1>
                                            </div>
                                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"
                                                    style="color: #eeeae8;"></i></span>
                                        </div>
                                        <div class="carousel-item" id="sub_count_2">
                                            <h4 style="color: aqua;">子場館 2 - {{ MainAreaData[2].area_name }}</h4>
                                            <h3 class="card-title text-white" style="font-size:25px;">當前人數</h3>
                                            <h2 class="mt-2">
                                                <span class="badge"
                                                    style="background-color: white;color: #2581BA; font-weight: 400;">{{
                                                    sub_all_status }}</span>
                                            </h2>
                                            <div class="d-inline-block">
                                                <h1 class="text-white font-weight-bold my-1" id="PeopleCount2"
                                                    style="font-size: 70px;">
                                                    {{ heatMapData.sub_area_count2 }}
                                                    <span style="font-size: 20px;">人</span>
                                                </h1>
                                            </div>
                                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"
                                                    style="color: #eeeae8;"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <h2 class="card-title" style="font-size:25px;">熱門站點排行榜</h2>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <p class="text-right text-muted" style="font-size: 16px;">更新時間：{{ HotAreaData[0].time }}
                                </p>
                            </div>
                        </div>
                        <table id="HotAreaTable" class="table table-image mb-0">
                            <tbody>
                                <tr v-for="Hot in HotAreaData">
                                    <td class="p-1" style="width: 15%;">
                                        <img v-bind:src="'../media/images/award_' + Hot.num + '.png'" class="img-fluid">
                                    </td>
                                    <td class="w-50">
                                        <img v-bind:src="'../media/images/area/' + Hot.image + '.JPG?v=' + sys_timestamp"
                                            class="img-fluid img-thumbnail">
                                    </td>
                                    <td class="h3 text-dark">{{ Hot.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}


{% block plugin_script %}

{% endblock %}


{% block script %}
<script src="../media/js/Layout.js"></script>


<script type="text/javascript">
    // document.querySelector('.nav-control').click();
    GetWeather()
    setInterval((() => GetWeather()), 10000);
</script>
{% endblock %}